name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches: [main]

jobs:
  ormolu:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Ormolu
      uses: mrkkrp/ormolu-action@v2
      with:
        extra-args: --ghc-opt -XTypeApplications

  cabal:
    name: ${{ matrix.os }} / ghc ${{ matrix.ghc }}
    runs-on: ${{ matrix.os }}
    needs: ormolu
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        cabal: [latest]
        ghc:
          - "8.8.4"
          - "8.10.7"
        exclude:
          - os: macOS-latest
            ghc: 8.8.4
          - os: windows-latest
            ghc: 8.8.4

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup Haskell
      uses: haskell/actions/setup@v1
      id: setup-haskell-cabal
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: ${{ matrix.cabal }}

    - name: Freeze
      run: |
        cabal freeze

    - name: Cache ~/.cabal/store
      uses: actions/cache@v2
      with:
        path: |
          ${{ steps.setup-haskell-cabal.outputs.cabal-store }}
          dist-newstyle
        key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal.project.freeze') }}
        restore-keys: ${{ runner.os }}-${{ matrix.ghc }}-

    - name: Build
      run: |
        cabal configure --enable-tests --enable-benchmarks --enable-documentation --test-show-details=direct
        cabal update
        cabal build

    - name: Test
      run: |
        cabal test

    - name: Documentation
      run: |
        cabal haddock

  stack:
    name: stack / ghc ${{ matrix.ghc }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ghc:
          - "8.10.7"

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup Haskell Stack
      uses: haskell/actions/setup@v1
      with:
        ghc-version: ${{ matrix.ghc }}
        stack-version: ${{ matrix.stack }}

    - name: Cache ~/.stack
      uses: actions/cache@v2
      with:
        path: ~/.stack
        key: ${{ runner.os }}-${{ matrix.ghc }}-stack

    - name: Build Stack
      run: |
        stack build --system-ghc --test --bench --no-run-tests --no-run-benchmarks

    - name: Test Stack
      run: |
        stack test --system-ghc

  hlint:
    runs-on: ubuntu-latest
    needs: cabal

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup HLint
      uses: rwe/actions-hlint-setup@v1
      with:
        version: '3.3.1'

    - name: Run HLint
      uses: rwe/actions-hlint-run@v2
      with:
        path: '["src/", "exe/", "test/"]'
        fail-on: warning
